:root {
  --background: #11111C;
  --foreground: #566271;
  --table-bg: #323644;
  --table-borders: #11111C;
  --inactive-tab: #323644;

  --red: #C63821;
  --red-hover: #a92a17;
  --blue: #2145C6;
  --blue-hover: #1a379f;
  --green: #13982E;
  --green-hover: rgb(9, 95, 26);
  --grey-button: #566271;
  --grey-button-hover: #45505d;

  --font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --heading-weight: 700;
  --other-weight: 400;
  --heading-size: 64px;
  --other-size: 18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* @media (max-width: 1024px) {
    font-size: 16px;
  } */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background);
  color: white;
}

#root {
  width: 100%;
  min-height: 100vh;
}